<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">幅一杯にジャンボトロン</h1>
    <p class="lead">これは親要素の全ての横方向の空白一杯に広がるように設定変更されたジャンボトロンです。</p>
  </div>
</div>
<div class="container">
	ここになんか説明を入れる
</div>